html {
  background: #fefefe;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", Yu Gothic, sans-serif;
  font-size: 14px;
}
a {
	text-decoration: none;
}
img {
    border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table, td {
  border: none;
}
b {
    font-weight: bold;
}
small {
	font-size: 1em;
}

header {
  position: relative;
  min-width: 840px;
  width: 100%;
  height: 400px;
  border-bottom: 4px solid #4b301c;
  background-image: url(http://www.makotonakaguchi.net/images/makoto_2x.gif), url(studio_desk.png), url(studio_flooring.png);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left 48px top 96px, left 600px top 32px, left top;
  background-size: 128px auto, auto, auto;
}
h1 {
  position: absolute;
  top: 96px;
  left: 196px;
  margin: 0;
  font-size: 4rem;
  font-kerning: auto;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
  color: #fff;
}
#gh-projBtn {
  position: absolute;
  bottom: 64px;
  left: 48px;
  padding: 8px;
  border: 3px solid transparent;
  border-radius: 3px;
  background: #fff;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
#gh-projBtn:hover {
  border: 3px solid #000;
  border-radius: 3px;
}
#gh-projBtn > img {
  margin-right: 8px;
  vertical-align: -0.25rem;
}

#study {
  margin: 0;
  padding: 48px;
}
#study > h2 {
  margin: 0;
  font-size: 2rem;
}
#study > p {
  margin: 0.5rem 0;
}
#contLists {
  width: 100%;
  margin-right: 3rem;
}
#cl-tbody {
  border-top: 3px solid #ddd;
  color: #666;
}
#cl-tbody > tr {
  border-bottom: 1px solid #ddd;
}
#cl-tbody td {
  padding: 1rem 0;
}
td[property="name"] {
  width: 50%;
  font-weight: bold;
}
td[property="name"] a {
  color: #0072d3;
}
td[property="name"] a:visited {
  color: #666;
}
td[property="name"] a:hover {
  color: #0072d3;
  text-decoration: underline;
  text-underline-position: -webkit-under;
}
td[property="description"] {
  width: 30%;
}
td[property="dateModified"] {
  width: 20%;
}
td[property="dateModified"]::before {
  content: "Latest : ";
}

footer {
	margin: 0 auto;
}
footer p {
	margin: 1em;
	text-align: center;
	font-size: 0.9em;
	color: #686868;
}
footer a {
	color: #000;
}
footer a:visited {
	color: #686868;
}
footer a:hover {
	background: #ccc;
}
footer a:active {
	color: #fff;
	background: #222;
}
[lang="en"] {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}